@charset "utf-8";
/*
   This file contains the style sheet used for HOME AND RESUME HTML

*/

html{
    background-color: rgb(39, 38, 38);
    background-image: url(Goal_page.avif);
    background-repeat: repeat;
}

body{
    padding: 2px;
    width: 100%;
    height: auto;
}

.grid-for-home{
    display: grid;
    background-color: rgb(31 30 28 / 80%);
    grid-template-columns: auto;
    grid-template-rows: .25fr .25fr .25fr .25fr;
    padding: 20px;
    width: 55em;
    margin: 5%;
    height: 100%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 1/ 5/ span 1/ span 1;
    opacity: 0.5;
}

.item1{
    grid-area: 1/ 1 / span 1/ span 4;
    grid-template-rows: 20px 100px;
    text-align: center;
    font-family: Hanken, Grotesk;
    color: white;
    width: auto;
    height: auto;
}

.pHome_PG{
    font-family: Hanken, Grotesk;
    color: white;
    text-align: left;
    font-size: 18px;
    padding: 20px;
    font-weight: normal;
}

.home-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 2/ 1/ span 1/ span 1;
}