@charset "utf-8";

section{
    display: block;
    background-color: rgba(163, 163, 154, 0.783);
    font-size: 18px;
    font-weight: bold;
    width: 740px;
    height: 380px;
    margin-top: 93px;
    margin-left: 100px;
}

h1{
    display: block;
    text-align: center;
}

p{
    display: block;
    margin-left: 3px;
    margin-bottom: 30px;
    padding-left: 20px;
    margin-right: 20px;
    text-align: left;
}

form{
    display: block;
    margin-left: 20px;
}
